In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("all_matches.csv")

c:\users\admin\desktop\ipl-first-innings-score-prediction-deployment-master\venv\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:

releventColumns=['match_id','start_date','venue','innings','ball','batting_team','bowling_team','striker','non_striker','bowler','runs_off_bat','extras']
data=data[releventColumns]

In [4]:
data['total_runs']=data['runs_off_bat']+data['extras']

In [5]:
data=data.drop(columns=['runs_off_bat','extras'])

In [6]:
data=data[data['ball']<=19.6]
data=data[data['innings']<=2]

In [7]:
data=data.groupby(['match_id','start_date','venue','innings','batting_team','bowling_team']).total_runs.sum()

In [8]:
data=data.reset_index()
data=data.drop(columns=['match_id'])

In [9]:
data.head()

,start_date,venue,innings,batting_team,bowling_team,total_runs
0,2008-04-18,M Chinnaswamy Stadium,1,Kolkata Knight Riders,Royal Challengers Bangalore,222
1,2008-04-18,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,82
2,2008-04-19,"Punjab Cricket Association Stadium, Mohali",1,Chennai Super Kings,Kings XI Punjab,240
3,2008-04-19,"Punjab Cricket Association Stadium, Mohali",2,Kings XI Punjab,Chennai Super Kings,207
4,2008-04-19,Feroz Shah Kotla,1,Rajasthan Royals,Delhi Daredevils,129

In [11]:
data.to_csv('preprocessed.csv',index="false")