In [15]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import sklearn.linear_model
import sklearn.preprocessing
import joblib
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder

In [16]:
data = pd.read_csv("preprocessed.csv")
data.head()
# data=data.drop(columns=['Unnamed:0'])

,Unnamed: 0,start_date,venue,innings,batting_team,bowling_team,total_runs
0,0,2008-04-18,M Chinnaswamy Stadium,1,Kolkata Knight Riders,Royal Challengers Bangalore,222
1,1,2008-04-18,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,82
2,2,2008-04-19,"Punjab Cricket Association Stadium, Mohali",1,Chennai Super Kings,Kings XI Punjab,240
3,3,2008-04-19,"Punjab Cricket Association Stadium, Mohali",2,Kings XI Punjab,Chennai Super Kings,207
4,4,2008-04-19,Feroz Shah Kotla,1,Rajasthan Royals,Delhi Daredevils,129

In [17]:
data.drop("Unnamed: 0",axis=1)

,start_date,venue,innings,batting_team,bowling_team,total_runs
0,2008-04-18,M Chinnaswamy Stadium,1,Kolkata Knight Riders,Royal Challengers Bangalore,222
1,2008-04-18,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,82
2,2008-04-19,"Punjab Cricket Association Stadium, Mohali",1,Chennai Super Kings,Kings XI Punjab,240
3,2008-04-19,"Punjab Cricket Association Stadium, Mohali",2,Kings XI Punjab,Chennai Super Kings,207
4,2008-04-19,Feroz Shah Kotla,1,Rajasthan Royals,Delhi Daredevils,129
...,...,...,...,...,...,...
1631,2021-04-09,"MA Chidambaram Stadium, Chepauk, Chennai",2,Royal Challengers Bangalore,Mumbai Indians,160
1632,2021-04-10,"Wankhede Stadium, Mumbai",1,Chennai Super Kings,Delhi Capitals,188
1633,2021-04-10,"Wankhede Stadium, Mumbai",2,Delhi Capitals,Chennai Super Kings,190
1634,2021-04-11,"MA Chidambaram Stadium, Chepauk, Chennai",1,Kolkata Knight Riders,Sunrisers Hyderabad,187
1635,2021-04-11,"MA Chidambaram Stadium, Chepauk, Chennai",2,Sunrisers Hyderabad,Kolkata Knight Riders,177

In [18]:
from datetime import datetime
data['start_date'] = data['start_date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

In [19]:
# Converting categorical features using OneHotEncoding method
encoded_df = pd.get_dummies(data=data, columns=['batting_team', 'bowling_team'])

In [20]:
encoded_df = encoded_df[['start_date','batting_team_Chennai Super Kings', 'batting_team_Delhi Daredevils', 'batting_team_Kings XI Punjab',
              'batting_team_Kolkata Knight Riders', 'batting_team_Mumbai Indians', 'batting_team_Rajasthan Royals',
              'batting_team_Royal Challengers Bangalore', 'batting_team_Sunrisers Hyderabad',
              'bowling_team_Chennai Super Kings', 'bowling_team_Delhi Daredevils', 'bowling_team_Kings XI Punjab',
              'bowling_team_Kolkata Knight Riders', 'bowling_team_Mumbai Indians', 'bowling_team_Rajasthan Royals',
              'bowling_team_Royal Challengers Bangalore', 'bowling_team_Sunrisers Hyderabad','total_runs','innings']]

In [21]:
# Splitting the data into train and test set
X_train = encoded_df.drop(labels='total_runs', axis=1)[encoded_df['start_date'].dt.year <= 2016]
X_test = encoded_df.drop(labels='total_runs', axis=1)[encoded_df['start_date'].dt.year >= 2018]

In [22]:
y_train = encoded_df[encoded_df['start_date'].dt.year <= 2016]['total_runs'].values
y_test = encoded_df[encoded_df['start_date'].dt.year >= 2018]['total_runs'].values

In [23]:
# Removing the 'date' column
X_train.drop(labels='start_date', axis=True, inplace=True)
X_test.drop(labels='start_date', axis=True, inplace=True)

In [24]:
# --- Model Building ---
# Linear Regression Model
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression()

In [25]:
LinearRegressor=LinearRegression()

In [26]:
LinearRegressor.fit(X_train,y_train)

LinearRegression()

In [27]:
# Creating a pickle file for the classifier
import pickle
filename = 'model.pkl'
pickle.dump(regressor, open(filename, 'wb'))

In [28]:
print("X_train shape is : ", X_train.shape)

X_train shape is :  (1152, 17)